* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.message {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(224, 240, 240);
    color: black;
    padding-left: 8px;
    padding-right: 13px;
    padding-bottom: 2px;
    padding-top: 3px;
    justify-self: left;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 8px;
    border: 1px solid black;
    width: fit-content;
    max-width: 70%;
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap;
}

#name {
    font-size: 11px;
    color: blue;
}

#text {
    font-size: 18px;
    white-space: normal;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

#time {
    font-size: 10px;
    color: red;
    right: 0;
    margin-left: auto;
}

#chat {
    left: 0;
    top: 0;
    margin: 1px;
    background-color: rgba(245, 245, 220, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 88%;
    overflow-y: auto;
}

#input_message {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-left: 12px;
    border-radius: 15px;
    background-color: rgb(235, 211, 179);
    color: black;
    font-size: 23px;
    border: 2px solid black;
    width: 100%;
    overflow-y: auto;
}

#send {
    margin-right: 3%;
    margin-left: 3px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 1px solid aqua;
    font-size: 20px;
    padding: 3px;
}

#send:hover {
    background-color: white;
    color: black;
}

.input_msg {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: space-between;
    bottom: 5px;
}

.Main {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 145, 0, 0.068);
    z-index: 2;
}