<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIN Messenger - Свободу слову!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>

<body>
    <div class="background-container">
        <img src="{{ url_for('static', filename='images/bgmes.jpg') }}" alt="Фон" class="background-image">
    </div>

    <div class="shapes">
        <div id="searchblock">
            <input id="inputsearchuser">
            <button class="zzz" id="buttonsearch">Search By</button>
            <div class="by">
                <a class="zzz" href="#">Name</a>
                <a class="zzz" href="#">Phone</a>
                <a class="zzz" href="#" color="red">Id</a>
            </div>
        </div>

        <div class="optionsblock">
            <div class="swimopt">
                <button id="optionsbtn">Настройки</button>
                <div class="optionsmenu">
                    <a id="profil" href="#">Профиль</a>
                    <a id="exit" href="#">Выйти</a>
                    <a id="deletemyacc" href="#" color="red">Удалить аккаунт</a>
                </div>
            </div>
        </div>
    </div>


    <div class="mesenger_body">
        <div id="chatbox">
        </div>
        <div class="chat">
            <div class="input_msg">
                <input id="input_message">
                <button id="send_btn">Send</button>
            </div>
        </div>
    </div>

    <div id="SearchUser">
    </div>

    <div id="MainChatCreator">
        <div class="WhatCreate">
            <p id="usname">Вы хотите создать чат с </p>
            <div class="formdata">
                <div>
                    <img src="" id="user_ava" alt="0">
                </div>
                <div class="betta">
                    <p>Имя</p>
                    <p>Телефон</p>
                    <p>ID</p>
                </div>
            </div>
            <p>О пользователе:</p>
            <div id="about_user">
                <p class="long-text">Не указано</p>
            </div>
            <div class="button_box">
                <button id="cancel">Отмена</button>
                <button id="create_chatbtn">Создать чат</button>
            </div>
        </div>
    </div>

    <div class="delete">
        <p>Вы уверены, что хотите удалить аккаунт?</p>
        <div class="button_box">
            <button id="nodelete">Нет</button>
            <button id="yesdelete">Да</button>
        </div>
    </div>


</body>
<script>
    const DataUser = localStorage.getItem('userdata');
    console.log(DataUser);
    if (DataUser) {
        const Data = JSON.parse(DataUser);
        const ChatBox = document.getElementById("chatbox")
        ChatBox.innerHTML = '';
        fetch("/userchatlist", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: Data.email
                }),
            })
            .then(response => response.json())
            .then(result => {
                const chats = result.chats;
                chats.forEach(chat => {
                    ChatBox.innerHTML += `
                    <div class=${'chatinfo'}>
                        <img src="${chat.avatar}" class=${'chat-avatar'} alt="${0} ">
                        <b class=${'chat-name'}>${chat.name}</b> 
                    </div>
                `;
                });

            })
            .catch(error => {
                console.error("Ошибка сети:", error);
            });
        document.getElementById("inputsearchuser").addEventListener("focus", function() {
            document.querySelector("#SearchUser").style.display = "flex";
        });
        document.getElementById("inputsearchuser").addEventListener("blur", function() {
            document.querySelector("#SearchUser").style.display = "none";
        });
    } else {
        window.close();
        window.location.href = '/';

    }

    const button = document.getElementById('buttonsearch');
    const menu = document.querySelector('.by');
    const InputSearch = document.getElementById("inputsearchuser");
    let timeout;

    function showMenu() {
        const rect = button.getBoundingClientRect();
        menu.style.display = 'flex';
        menu.style.position = 'absolute';
        menu.style.top = (rect.bottom + 2) + 'px';
        menu.style.left = rect.left + 'px';
        menu.style.minWidth = rect.width + 'px';

        // Запускаем анимацию
        setTimeout(() => menu.classList.add('show'), 10);
        clearTimeout(timeout);
    }

    function hideMenu() {
        menu.classList.remove('show');
        timeout = setTimeout(() => {
            menu.style.display = 'none';
        }, 200); // Ждем окончания анимации
    }

    button.addEventListener('mouseenter', showMenu);
    button.addEventListener('mouseleave', hideMenu);

    menu.addEventListener('mouseenter', function() {
        clearTimeout(timeout);
        menu.classList.add('show');
    });

    menu.addEventListener('mouseleave', hideMenu);

    const menuLinks = document.querySelectorAll('.by a');

    menuLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault(); // Отменяем переход по ссылке

            const linkText = this.textContent;
            console.log(`Нажата ссылка: ${linkText}`);

            // Определяем какая именно ссылка нажата
            switch (linkText) {
                case 'Name':
                    SearchBy("name");
                    break;
                case 'Phone':
                    SearchBy("phone");
                    break;
                case 'Id':
                    SearchBy("id");
                    break;
            }

            // Закрываем меню после выбора
            this.closest('.by').style.display = 'none';
            document.querySelector("#SearchUser").style.display = "flex";
        });
    });
    document.addEventListener("click", function(e) {
        if (e.target.className !== "zzz") {
            document.querySelector("#SearchUser").style.display = "none";
        }
    })

    function SearchBy(type_search) {
        //console.log('Выбран поиск по имени ${}');
        // Ваш код для поиска по имени
        UserBox = document.getElementById("SearchUser");
        if (InputSearch.value.trim() != "") {
            fetch("/SearchUserBy", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "type": type_search,
                        "request": InputSearch.value.trim()
                    }),
                })
                .then(response => response.json())
                .then(result => {
                    if (result.sucess) {
                        const users = result.userlist;
                        UserBox.innerHTML = "";
                        users.forEach(user => {
                            if (user.photo === null) {
                                user.photo = "static/images/Uniknown.png"
                            }
                            UserBox.innerHTML += `
                        <div class=${'User'}>
                            <img src="${user.photo}" class=${'useravatar'} alt="${0} ">
                            <b class=${'username'} id=${user.id}>${user.name}</b> 
                        </div>
                    `;
                        });
                    } else {
                        let name = "Ничего не найдено";
                        let photo = "static/images/notfind.png";
                        let id = "errorfind";
                        UserBox.innerHTML = `
                        <div class=${'User'}>
                            <img src="${photo}" class=${'useravatar'} alt="${0} ">
                            <b class=${'username'} id=${id}>${name}</b> 
                        </div>
                    `;
                    }

                })
                .catch(error => {
                    console.error("Ошибка сети:", error);
                });
        }
    }

    document.getElementById('SearchUser').addEventListener('click', function(event) {
        // Проверяем, что клик был по элементу с классом User или его дочерним элементам
        const userElement = event.target.closest('.User');
        if (userElement) {
            // Находим элементы внутри User
            const username = userElement.querySelector('.username');
            const userAvatar = userElement.querySelector('.useravatar');
            const userId = username.id;
            // Вызываем функцию обработки
            if (userId !== "errorfind") {
                CreateChat(userId, userElement);

            }
        }
    });

    function CreateChat(userId, element) {
        //console.log(`Обрабатываем пользователя с ID: ${userId}`);
        document.getElementById("MainChatCreator").style.display = "flex";
        fetch("/GetUserInfo", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "id": userId
                }),
            })
            .then(response => response.json())
            .then(result => {
                console.log(result.photo);
                document.getElementById("usname").innerText = `Вы хотите создать чат с ${result.name}`;
                document.getElementById("user_ava").src = result.photo;
                document.querySelectorAll(".betta p").forEach(p => {
                    if (p.textContent.trim().includes("Имя")) {
                        p.textContent = `Имя: ${result.name}`;
                    } else if (p.textContent.trim().includes("Телефон")) {
                        p.textContent = `Телефон: ${result.phone}`;
                    }
                    if (p.textContent.trim().includes("ID")) {
                        p.textContent = `ID: ${result.id}`;
                    }
                });
            })
            .catch(error => {
                console.error("Ошибка сети:", error);
            });
    }

    document.getElementById("cancel").addEventListener("click", function(e) {
        document.getElementById("MainChatCreator").style.display = "none";
    });

    document.getElementById("exit").addEventListener("click", function(e) {
        const res = confirm("Вы уверены, что хотите выйти из аккаунта на текущем устройстве ?")
        if (res) {
            localStorage.clear();
            window.close();
            window.location.href = '';
            return true
        };
    });
    document.getElementById("exit").addEventListener("click", function(e) {

    });
</script>
</body>

</html>