<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test.css') }}">
</head>

<body>
    <button id="start">start</button>
    <div class="newdevice">
            <p style="font-size: 30px;">Новое устройство хочет войти</p>
            <button id="pdp">Подробнее</button>
    </div>

    <div style="display: flex;" class="more">
        <p id="moreinfo"></p>
        <div class="btnboxauth">
            <button style="margin-right: 15px; font-size: 22px;" class="no" id="yesi">Да это я</button>
            <button style="margin-left: 15px; font-size: 22px;" class="yes" id="noi">Нет не я</button>
        </div>
    </div>
</body>
<script>

    GetIPInfo("8.8.8.8").then(data => {
        const form = document.getElementById("moreinfo").innerText=`Информация об устройстве\n  ip: ${0}\n страна: ${0}\n  Timezone: ${0}\n  Координаты: ${0}\n  Язык: ${0}\n  Экран: ${0}  `
    })
    document.getElementById("start").addEventListener("click",function(){
        document.querySelectorAll(".newdevice").forEach(e => {
            e.style.display = "flex"
             e.classList.add("run");
            })
    })
    document.getElementById("pdp").addEventListener("click",function(){
        document.querySelectorAll(".newdevice").forEach(e => {
            e.style.display="none";
        })
        document.querySelectorAll(".more").forEach(e => {

            e.classList.add("run");
        })
    });
    async function GetIPInfo(ip){
        const url = `https://ipapi.co/${ip}/json/`;
        const data = await fetch(url).then(r => r.json());
        return data;
    }
</script>
</html>
