<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Push Demo</title>
</head>
<body>
    <button id="notifyBtn">Отправить уведомление</button>
    <p id="n"></p>
</body>
</html>
<script>
        // Проверяем поддержку
        document.getElementById("n").innerText = Notification.permission
        let permission = Notification.requestPermission();
    if ('Notification' in window && 'serviceWorker' in navigator) {

    // Регистрация Service Worker
    navigator.serviceWorker.register('/static/js/sw.js').then(reg => {
        console.log('Service Worker зарегистрирован', reg);
    });
    new Notification('Тест 🔔', {
    body: 'Если это видно — всё работает'
});
    document.getElementById('notifyBtn').addEventListener('click', async () => {
        // Запрос разрешения на уведомления
        alert(Notification.permission)

        console.log(Notification.permission)
        Notification.requestPermission()
        let permission = await Notification.requestPermission();
        if (permission !== 'granted') return alert('Разрешение не получено');

        // Отправка уведомления через Service Worker
        navigator.serviceWorker.ready.then(registration => {
            registration.showNotification('Привет!', {
                body: 'Это тестовое уведомление',
                icon: 'icon.png'
            });
        });
    });

    } else {
    alert('Уведомления или Service Worker не поддерживаются этим браузером');
    }
</script>